// variables
$header_height: 50px;
$menu-width: 80vw;

// Color
$font-color: #636265;
$white: #fff;

$palette_red: #E83151;
$palette_blue: #89D2F9;
$palette_green: #3F8D16;
$palette_white: #F9F9F9;
$palette_grey: #DBD4D3;


// $palette_darker: #292F36;
// $palette_dark: #FF6B6B;
// $palette_oxblood: #51355A;
// $palette_grain: #F7FFF7;
// $palette_tan: #FFF8F0;
