// variables
$header_height: 50px;
$menu-width: 80vw;

// Color
$font-color: #636265;
$white: #fff;

$palette_red: #E83151;
$palette_blue: #89D2F9;
$palette_green: #3F8D16;
$palette_white: #F9F9F9;
$palette_grey: #DBD4D3;
