.header {
  height: 120px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  .hamburger-menu {

  }
  .title {
    font-size: 52px;
  }
}
