// $icon-font-path: '../fonts/';

// @import 'constants.scss';
// @import 'mixins.scss';

// @include font-face(roboto-regular);
// @include font-face(OpenSans-Semibold);
// @include font-face(OpenSans-Regular);

$font-color: #636265;
$white: #fff;

$palette_red: #E83151;
$palette_blue: #89D2F9;
$palette_green: #3F8D16;
$palette_white: #F9F9F9;
$palette_grey: #DBD4D3;

html, body {
  margin: 0;
  padding: 0;
}

body {
  // font-family: OpenSans-Regular, Helvetica, sans-serif;
  color: $font-color;
  background-color: $palette_white;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 500px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
}

#map {
  height: 70vh;
  width: 100vw;
}
