@import 'constants.scss';
@import 'mixins.scss';

@include font-face(roboto-regular);
@include font-face(OpenSans-Semibold);
@include font-face(OpenSans-Regular);

body {
  font-family: OpenSans-Regular, Helvetica, sans-serif;
  color: #636265;
  background-color: $palette_white;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 500px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
  position: relative;

  .content-container {
    position: absolute;
    top: 60px;
    #map {
      height: 70vh;
      width: 100vw;
    }
  }

}
