// @import 'constants.scss';
// @import 'mixins.scss';

// @include font-face(roboto-regular);
// @include font-face(OpenSans-Semibold);
// @include font-face(OpenSans-Regular);

$font-color: #636265;
$white: #fff;

$palette_red: #E83151;
$palette_blue: #89D2F9;
$palette_green: #3F8D16;
$palette_white: #F9F9F9;
$palette_grey: #DBD4D3;

body {
  font-family: Helvetica, sans-serif;
  color: $font-color;
  background-color: $palette_white;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 500px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
  position: relative;

  .content-container {
    position: absolute;
    top: 60px;
    #map {
      height: 65vh;
      width: 100vw;
    }

    .function-container {
      height: 35vh;
      width: inherit;

      // needHelp screen
      .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        .help-button {
          width: 90px;
          height: 90px;
          background-color: $palette_red;
          margin-top: 80px;
          border-radius: 50%;
          box-shadow: 0 5px 4px 0px #999;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: $palette_white;
          font-size: 26px;
          font-weight: bolder;
          line-height: 1.2;

          &.ambulance-button img {
            width: 60px;
          }

          &.police-button img {
            width: 70px;
          }

          &.helpMe-button {
            margin-top: 20px;
            width: 130px;
            height: 130px;
          }
        }
      }

      // receivedHelp screen
      .gettingHelp-container {
        width: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;

        .heading {
          color: $palette_red;
          margin: 8px 10px;
          font-weight: bolder;
          display: flex;
          justify-content: center;
        }

        .help-detail {
          outline: 0;
          resize: none;
          border: 1px solid transparentize(#565656, 0.5);
          width: calc(100% - 40px);
          padding: 5px;
          margin: 0 10px;
          color: $font-color;
          font-size: 14px;
          min-height: 10vh;
          max-height: 10vh;
          border-radius: 2px;
          box-sizing: border-box;
          background-color: transparentize(#565656, 0.95);
        }

        .placeholder-text {
          width: calc(100% - 60px);
          position: absolute;
          top: 55px;
          left: 30px;
          pointer-events: none;
          line-height: 1.3;
          font-size: 14px;
          color: transparentize(#565656, 0.5);
        }

        .send-detail-button {
          margin: 10px 0;
          height: 50px;
          border-radius: 2px;
          width: calc(100% - 40px);
          color: $palette_white;
          background-color: $palette_red;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 3px 3px 0 #bbb;
        }
      }

      // helpRequester screen
      .help-request-container {
        display: flex;
        height: 35vh;
        width: 100%;
        flex-flow: column nowrap;
        margin: 0 auto;
        .requester-details {
          margin: 20px auto;
          width: calc(100% - 40px);
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;

          .image {
            height: 80px;
            width: 80px;
            img {
              width: inherit;
            }
          }

          .requester {
            margin-left: 15px;

            .text {
              color: #636265;
              font-size: 18px;
              margin: 10px 0;
              line-height: 1;
              font-weight: bold;
            }
            .name {
              font-size: 28px;
            }
          }
        }

        .help-options {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 80px;
          display: flex;
          flex-flow: row nowrap;

          .button {
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
            }
          }
          .accept {
            width: 80%;
            background-color: #3F8D16;
            color: #F9F9F9;
            span {
              font-size: 28px;
              font-weight: bold;
              margin-right: 20px;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
          .reject {
            width: 20%;
            background-color: #E83151;
          }
        }
      }
    }
  }

}
